# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

kind
.idea
**/__pycache__
load_test/*.csv
test_report.html
index.html
.bin
.protoc
.go

# Environment variables
.env
.envrc
.direnv
.private

**/.DS_Store
